* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: "Encode Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
}

header {
    height: 3.3rem;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.container {
    height: 3.3rem;
    width: 935px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container div {
    display: flex;
}

.border {
    border-left: 1px solid #dbdbdb;
    margin: 0 1rem;
}

.nav-left .logo:last-child {
    /* Só aparece na versão mobile */
    display: none;
}

.pesquisar-input {
    text-align: center;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #ffffff;
    height: 1.75rem;
    width: 13.5rem;
}

.instagram-logo {
    padding-left: 1rem;
    cursor: pointer;
}

.logo {
    height: 1.5rem;
    width: 1.5rem;
    padding-left: 1rem;
    cursor: pointer;
}

.logo2 {
    height: 0.875rem;
    width: 0.875rem;
    cursor: pointer;
}

.curtir {
    height: 0.85rem;
    width: 0.85rem;
    margin-right: 0.1rem;
    cursor: pointer;
    display: none;
}

.padding {
    padding: 0 1rem;
    padding-bottom: 0.35rem;
}

main {
    display: flex;
    width: 935px;
    margin: 0 auto;
}

section {
    width: 600px;
    margin: 2% 5% 0 0;
}

aside {
    margin-top: 5.7rem;
    width: 335px;
}

.aside-fixo {
    position: fixed;
    width: 285px;
}

strong {
    font-weight: 700;
    cursor: pointer;
}

.cel-nav {
    /*oculto na versão web*/
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0rem;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
}
/* SESSAO STORIES */
.caixa-story {
    margin-top: 3rem;
    height: 7.3rem;
    background-color: #ffffff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 1.1rem;
    position: relative;
    overflow: hidden;
}

.vetor {
    position: absolute;
    right: 0.5rem;
    filter: drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.3));
}

.caixa-story ul {
    padding: 0 0.25rem;
    margin: 0 0.1rem;
}

.caixa-story li {
    font-size: 0.75rem;
    text-align: center;
    flex-direction: column;
}

.caixa-story li:first-child {
    background: url(assets/stories_background\ 3.png);
    background-position: center;
    height: 4.125rem;
    width: 4.125rem;
}

.stories {
    height: 3.8rem;
    width: 3.55rem;
    border-radius: 0px;
    cursor: pointer;
    padding-top: 0.32rem;
    border-radius: 50%;
}
/* SESSAO FEED */
.caixa-feed {
    border-radius: 3px;
    margin: 1rem 0 1rem 0;
    padding: 2% 0;
    background-color: #ffffff;
}

.container-coluna div:first-child,
.caixa-feed div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-section .padding {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagem-pessoa {
    width: 2rem;
    width: 2rem;
    margin-right: 1rem;
    border-radius: 28px;
}

.nome-pessoa {
    font-weight: 700;
    display: inline-block;
    font-size: 0.875rem;
    color: #262626;
    cursor: pointer;
}

.pontos {
    margin: auto 1rem;
    cursor: pointer;
    font-weight: bold;
}

.img-principal {
    width: 100%;
    height: 600px;
    object-fit: cover;
    padding: 0.35rem 0;
}

.video-container {
    width: 600px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.video-container iframe {
    position: absolute;
    top: -140px;
    left: 0;
    width: 100%;
    height: calc(100% + 120px);
}

.curtidas {
    margin-left: 1rem;
    margin-top: 0.8rem;
}

.quem-curtiu {
    width: 1.25rem;
    width: 1.25rem;
    margin-right: 0.3rem;
}

.mostrar-comentario {
    color: #8e8e8e;
    padding-left: 1rem;
    margin: 0.25rem 0;
    font-size: 1rem;
    cursor: pointer;
}

.mostrar-horas {
    color: #8e8e8e;
    padding-left: 1rem;
    margin-top: 0.2rem;
    font-size: 0.75rem;
}

.comentar {
    position: relative;
    display: flex;
    align-items: center;
}

.input-comentario {
    margin-top: 1rem;
    width: 100%;
    padding-left: 1rem;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #ffffff;
    height: 2rem;
    display: inline-block;
    font-size: 0.875rem;
}

.send-comentario {
    color: #b2dffc;
    border: none;
    background-color: #ffffff;
    position: absolute;
    height: 1.2rem;
    right: 0.4rem;
    font-size: 0.875rem;
    bottom: 0.4rem;
    cursor: pointer;
}

.send-comentario:hover {
    transition: 0.3ms;
    color: #0095f6;
}
/* SESSAO Sugestoes */
.sugestao-imagem {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1.1rem;
    border-radius: 28px;
}

.container-coluna {
    display: flex;
    flex-direction: column;
}

.container-coluna div:first-child {
    margin-bottom: 0.1rem;
}

.sugerir-pessoa {
    margin: auto 0;
}

.sugestoes h2 {
    font-weight: 500;
    font-size: 0.75rem;
    color: #8e8e8e;
}

.sugestoes p {
    font-size: 0.75rem;
    color: #262626;
    font-weight: 500;
}

.container-coluna p {
    font-size: 0.75rem;
    margin: 0.2rem 0;
    color: #8e8e8e;
}

.aside-fixo span {
    font-size: 0.7rem;
    margin: 1rem 0;
    padding: 1rem 0;
    color: #c7c7c7;
}

.seguir {
    font-weight: 500;
    color: #139ef2;
    font-size: 0.75rem;
    cursor: pointer;
}

.flex-padding {
    display: flex;
    padding: 2% 0;
}

.sugestoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

@media (max-width: 935px) {
    .container {
        width: 96%;
        margin: 0 2%;
    }

    main {
        width: 600px;
    }

    aside {
        display: none;
    }

    section {
        width: 600px;
        margin: 2% auto;
    }
}

@media (max-width: 614px) {
    header {
        height: 4rem;
    }

    main {
        width: 100%;
    }

    section {
        width: 100%;
    }

    .pesquisar-input {
        display: none;
    }

    .nav-right:nth-child(n) {
        display: none;
    }

    .nav-left .logo:last-child {
        display: initial;
    }

    .nav-left {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .border {
        border-left: none;
        margin: 0;
    }

    .caixa-story {
        background-color: #e5e5e5;
    }

    .cel-nav .logo {
        padding-left: 0;
    }

    .cel-nav {
        width: 100%;
        height: 3.7rem;
    }

    .cel-nav .nav {
        display: flex;
        justify-content: space-between;
        padding: 0.9rem 1.5rem;
    }
}
